.elementor-9489 .elementor-element.elementor-element-54ad331a{margin-top:60px;margin-bottom:0px;}.elementor-9489 .elementor-element.elementor-element-2d5da8f4 .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-9489 .elementor-element.elementor-element-2d5da8f4 .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-9489 .elementor-element.elementor-element-2d5da8f4 .elementor-button{font-family:"EB Garamond", Sans-serif;font-size:20px;fill:#1e294a;color:#1e294a;background-color:rgba(255,255,255,0);padding:0px 0px 0px 0px;}.elementor-9489 .elementor-element.elementor-element-e01eb81 .woocommerce-breadcrumb{color:#1e294a;font-family:"EB Garamond", Sans-serif;font-size:20px;text-align:right;}.elementor-9489 .elementor-element.elementor-element-e01eb81 .woocommerce-breadcrumb > a{color:#1e294a;}.elementor-9489 .elementor-element.elementor-element-45dfcaff > .elementor-element-populated{margin:0px 50px 0px 0px;}.elementor-9489 .elementor-element.elementor-element-5bf475f3 .elementor-heading-title{color:#1d2a49;font-family:"EB Garamond", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;letter-spacing:0.05px;}.woocommerce .elementor-9489 .elementor-element.elementor-element-233b0393 .price{color:#58c2e6;font-family:"EB Garamond", Sans-serif;font-size:18px;font-weight:400;line-height:1em;}.woocommerce .elementor-9489 .elementor-element.elementor-element-233b0393 .price ins{color:#C00100;}.elementor-9489 .elementor-element.elementor-element-233b0393 > .elementor-widget-container{margin:25px 0px 25px 0px;}.elementor-9489 .elementor-element.elementor-element-423dc24d{text-align:left;}.woocommerce .elementor-9489 .elementor-element.elementor-element-423dc24d .woocommerce-product-details__short-description{color:#1d2a49;font-family:"EB Garamond", Sans-serif;font-size:18px;font-weight:400;line-height:2em;letter-spacing:1px;}.elementor-9489 .elementor-element.elementor-element-43446ef2 .cart button{transition:all 0.2s;}.elementor-9489 .elementor-element.elementor-element-43446ef2 .quantity .qty{transition:all 0.2s;}.elementor-9489 .elementor-element.elementor-element-43446ef2{z-index:99;}.elementor-9489 .elementor-element.elementor-element-43446ef2 > .elementor-widget-container{background-color:#ffffff;}.elementor-9489 .elementor-element.elementor-element-478701a5{color:#1d2a49;font-family:"EB Garamond", Sans-serif;font-size:18px;font-weight:400;letter-spacing:1px;}.elementor-9489 .elementor-element.elementor-element-478701a5 > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-9489 .elementor-element.elementor-element-4ae35de{margin-top:0px;margin-bottom:150px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:0px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product{text-align:center;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products .attachment-woocommerce_thumbnail{margin-bottom:0px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .woocommerce-loop-product__title{color:#2a2a2a;margin-bottom:0px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{color:#2a2a2a;margin-bottom:0px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{font-family:"EB Garamond", Sans-serif;font-size:14px;font-weight:400;text-transform:uppercase;line-height:2.2em;letter-spacing:1px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .star-rating{font-size:0em;margin-bottom:0px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .price{color:#58c2e6;font-family:"EB Garamond", Sans-serif;font-size:12px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .price ins{color:#58c2e6;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .price ins .amount{color:#58c2e6;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .price del{color:#58c2e6;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .price del .amount{color:#58c2e6;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .price del {font-family:"EB Garamond", Sans-serif;font-size:12px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product .button{margin-top:0px;}.woocommerce .elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products .products > h2{color:#2a2a2a;font-family:"EB Garamond", Sans-serif;font-size:14px;font-weight:400;text-transform:uppercase;line-height:2.2em;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products ul.products li.product span.onsale{display:block;background-color:#1d2949;font-family:"EB Garamond", Sans-serif;font-size:12px;}@media(max-width:1024px){.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(max-width:767px){.elementor-9489 .elementor-element.elementor-element-6e65d1fa > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-9489 .elementor-element.elementor-element-5bf475f3 > .elementor-widget-container{margin:0px 10px 0px 10px;}.elementor-9489 .elementor-element.elementor-element-233b0393 > .elementor-widget-container{margin:25px 10px 25px 10px;}.elementor-9489 .elementor-element.elementor-element-423dc24d > .elementor-widget-container{margin:0px 10px 0px 10px;}.elementor-9489 .elementor-element.elementor-element-43446ef2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 10px 10px 10px;}.elementor-9489 .elementor-element.elementor-element-25be1b5e.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}/* Start custom CSS for woocommerce-product-images, class: .elementor-element-f4da55f */.elementor-9489 .elementor-element.elementor-element-f4da55f span.onsale{
    background:#C00100;
    padding:5px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a0e3b72 */.elementor-9489 .elementor-element.elementor-element-a0e3b72 .iconic-woothumbs-thumbnails-wrap--sliding{
    margin-top:20px;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-add-to-cart, class: .elementor-element-43446ef2 */@media only screen and (max-width: 768px)  {
.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations{
    min-height: 120px !important;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .quantity .qty{
    width:80px !important;
}
 .elementor-9489 .elementor-element.elementor-element-43446ef2 .variations .value div label {
    width:35px !important;
    height:35px !important;
    line-height:35px;
    font-size:14px !important;
 }
    
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations{
    min-height: 100px;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations td > div {
    margin: 10px 10px 0 0 !important;
    float: left;
    width: auto;
} 

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations input[type="radio"]{
    display: block;
    top: 0;
    left: -1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    border: 0;
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations input[type=radio]:checked + label {
    background: #1f3052 !important;
    border-color: #1f3052 !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.woocommerce div.product.elementor form.cart table.variations tr {
    display: inline-block !important
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations input[type=radio]:disabled + label {
    opacity: 0.3 !important;
    cursor: auto !important;
    position:relative;
     background: linear-gradient(to top left,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             #1f3052 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%);   
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations .label {
   width:40px !important;
}


.postid-14874 .elementor-9489 .elementor-element.elementor-element-43446ef2 .variations .value label{
    width:85px !important;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations .value label {
	cursor: pointer;
    height: 45px !important;
    width: 45px !important;
    font-size: 16px !important;
    font-family: 'Gordita',sans-serif;
    text-align: center;
    text-transform: uppercase;
   	line-height: 45px;
    display: inline-block;
    color: #2e3552;
    font-weight: 400;
    border: 1px solid #1f3052 !important;
    vertical-align: middle !important;
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations td.value:before{
display:none !important;
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 variations td > div:checked {
    border-color: #1f3052 !important;
    background: #1f3052 !important;
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations tr {overflow: hidden; }
 

/* 
.elementor-9489 .elementor-element.elementor-element-43446ef2 td.value:before {
    display:none !important;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 td.label {
    width: 50px !important;
        text-transform: uppercase;
}

.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations td{
    display: -webkit-inline-box !important;
    border:0;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations td > div {
    margin-right: 15px;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .variations label {
    margin-left: 5px;
    font-size: 13px;
}

*/





.elementor-9489 .elementor-element.elementor-element-43446ef2 .reset_variations{
    display:none !important;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .single_add_to_cart_button{
    margin-left:20px;
    font-family: 'EB Garamond', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: 13px;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .quantity{
    width: 80px;
}
.elementor-9489 .elementor-element.elementor-element-43446ef2 .qty{
    padding: 2.2px 10px !important;
}

@media only screen and (max-width: 768px)  {
    .elementor-9489 .elementor-element.elementor-element-43446ef2{
        box-shadow: 0px -1px 4px rgba(52,120,99,0.2);
    }
    .elementor-9489 .elementor-element.elementor-element-43446ef2 form.cart{
        margin: 0;
    }
    .elementor-9489 .elementor-element.elementor-element-43446ef2 .stock.in-stock{
        display:none;
    }
    .elementor-9489 .elementor-element.elementor-element-43446ef2 .qty, .elementor-9489 .elementor-element.elementor-element-43446ef2 .single_add_to_cart_button{
        padding:5px !important;
    }
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-related, class: .elementor-element-25be1b5e */.elementor-9489 .elementor-element.elementor-element-25be1b5e .related > h2:after{
    content: "";
    display: block;
    width: 45px;
    border: 1px solid #58c2e6;
    margin-top: 5px;
}
.elementor-9489 .elementor-element.elementor-element-25be1b5e span.onsale{
    padding:5px !important;
}
.elementor-9489 .elementor-element.elementor-element-25be1b5e .price{ 
    margin:0 !important;
}/* End custom CSS */