body {
  margin-top: 35px !important;
}
.wsa-cookielaw {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 24px;
  padding: 5px 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: #222222;
  text-align: center;
  white-space: nowrap;
  background: #F5F5F5;
  border-bottom: 1px solid #CCCCCC;
}
.wsa-cookielaw-button {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  margin: 0 0 0 5px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.wsa-cookielaw-button-green {
  text-shadow: 0 1px 0 #2D6200;
  background: #398A00;
  background: -webkit-linear-gradient(top, #3C9300, #398A00);
  background: -moz-linear-gradient(top, #3C9300, #398A00);
  background: -ms-linear-gradient(top, #3C9300, #398A00);
  background: -o-linear-gradient(top, #3C9300, #398A00);
  border: 1px solid #29691D;
}
.wsa-cookielaw-button-green:hover {
  background: #368200;
  background: -webkit-linear-gradient(top, #3C9300, #368200);;
  background: -moz-linear-gradient(top, #3C9300, #368200);;
  background: -ms-linear-gradient(top, #3C9300, #368200);;
  background: -o-linear-gradient(top, #3C9300, #368200);
  border: 1px solid #2D6200;
}
.wsa-cookielaw-button-red {
  text-shadow: 0 1px 0 #B0281A;
  background: #D14836;
  background: -webkit-linear-gradient(top, #DC4A38, #D14836);
  background: -moz-linear-gradient(top, #DC4A38, #D14836);
  background: -ms-linear-gradient(top, #DC4A38, #D14836);
  background: -o-linear-gradient(top, #DC4A38, #D14836);
  border: 1px solid #D14836;
}
.wsa-cookielaw-button-red:hover {
  background: #C53727;
  background: -webkit-linear-gradient(top, #DC4A38, #C53727);
  background: -moz-linear-gradient(top, #DC4A38, #C53727);
  background: -ms-linear-gradient(top, #DC4A38, #C53727);
  background: -o-linear-gradient(top, #DC4A38, #C53727);
  border: 1px solid #B0281A;
}
.wsa-cookielaw-link {
  display: inline-block;
  margin: 0 0 0 5px;
  color: #666666;
}
.wsa-cookielaw-link:hover {
  color: #000000;
}