a[href="/dameskleding/blouses/blouses/"] { display:none; }
a[href="/dameskleding/jassen/jassen/"] { display:none; }
a[href="/dameskleding/jumpsuits/jumpsuits/"] { display:none; }
a[href="/dameskleding/jurken/jurken/"] { display:none; }
a[href="/dameskleding/rokken/rokken/"] { display:none; }
a[href="/dameskleding/t-shirts/t-shirts/"] { display:none; }
a[href="/dameskleding/tops/tops/"] { display:none; }
a[href="/dameskleding/truien/truien/"] { display:none; }
a[href="/dameskleding/schoenen/schoenen/"] { display:none; }